<div class='row' id='width_header_1'>
  <div class='col-md-12'>
    <h1 id='main_header'>MATTHEW WATSON</h1>
  </div>
  <div class='col-md-12'>
    <h4 id='sub_header_1' class='alignright'> Colorado Business Attorney </h4>
  </div>

  <br><br><br>

  <center>
  <table style='width: 720px;'>
    <tr>
      <td>
        <ul>
          <li><h4>Business Formation & Compliance</h4></li>
          <li><h4>Business Aquisitions</h4></li>
          <li><h4>Vendor & Supplier Agreements</h4></li>
          <li><h4>Software Licensing</h4></li>
          <li><h4>Trademarks</h4></li>
          <li><h4>Wills & Estates</h4></li>
        </ul>
      </td>
      <td style="vertical-align:top">
        <div class='hidden-xs'>
          <img src='/images/mattw.jpg' alt='mattw' height='175px' width='175px', class='img-circle'/>
        </div>
        <div class='visible-xs'>
          <img src='/images/mattw.jpg' alt='mattw' height='100px' width='100px', class='img-circle'/>
        </div>
        <br>
        <center>
          <strong id='contact_fix'>
            <%= link_to '303.718.6270','tel:303-718-6270', id: 'sub_header_2' %> </br>
            <%= mail_to 'Matthew@MatthewWatson.us' %>
          </strong>
        </center>
      </td>
    </tr>
  </table>
  </center>

  <br>

  <div class='col-md-12'>
    <h4>
        "Mathew was very professional, understanding and timely. He provided us
        with the pros, cons, and options that we had for the specific situation.
        We were very glad to have Mathew’s help with this matter."
        </br> ~Renter from Golden, CO
    </h4>

    <h4>
      "He came in within our budget, and accomplished the task within the time frame and was able to deliver an agreement that was to the point.We highly recommend him not just as an attorney but as someone who would care about the his client’s need"
      </br> ~Business Owner from Littleton, CO
    </h4>
  </div>
</div>

